.Barra {
    display: flex;
    background: rgb(232, 173, 238);
    min-height: 5vh;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    text-decoration: none;
}